@page
@model schools_identity.Pages.dbcrud.EditModel

@{
    ViewData["Title"] = "Update";
}

<h1 style="text-align:center;">Update</h1>

<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="list.Id" />
            <div class="form-group">
                <label asp-for="list.name" class="control-label">Name</label>
                <input asp-for="list.name" class="form-control" />
                <span asp-validation-for="list.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="list.city" class="control-label">City</label>
                <input asp-for="list.city" class="form-control" />
                <span asp-validation-for="list.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="list.address" class="control-label">Address</label>
                <input asp-for="list.address" class="form-control" />
                <span asp-validation-for="list.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="list.headmaster" class="control-label">Headmaster</label>
                <input asp-for="list.headmaster" class="form-control" />
                <span asp-validation-for="list.headmaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="list.courses" class="control-label">Courses</label>
                <input asp-for="list.courses" class="form-control" />
                <span asp-validation-for="list.courses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success"><i class="fa fa-check"></i></button>
            </div>
        </form>
    </div>
</div>

<p style="text-align: center;"><a asp-page="./Index"><u>Back to the list</u></a></p>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
